<h2 mat-dialog-title> {{estadoForm}} Nuevo Producto </h2>
<mat-dialog-content>    
    <form [formGroup]="productForm">
        <div class="product-container">
            <mat-form-field>                
                <input matInput placeholder="Nombre" formControlName="name" required />             
            </mat-form-field>
            <br>
            <mat-form-field>            
                <input matInput type="number" placeholder="Precio" formControlName="precio" required>
            </mat-form-field>  
            <mat-form-field>                
                <input matInput type="number" placeholder="Cantidad" formControlName="cantidad" required />             
            </mat-form-field>
            <br>
            <mat-form-field>                
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="category">   
                    <mat-option *ngFor="let cat of categories" [value]="cat.id">
                        {{cat.name}}
                    </mat-option>
                </mat-select>   
            </mat-form-field>
            <br>
            <div>
                <mat-label>Foto: </mat-label>
                <label for="file-upload" class="subir">
                    Subir archivo
                </label>
                <input id="file-upload" accept="image/png, image/jpeg" type="file" (change)="onFileChanged($event)" formControlName="picture" class="input-file"/>
                <span>{{nameImg}}</span>
            </div>
        
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="productForm.invalid">
        <mat-icon>save</mat-icon>Guardar producto.
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>Cancelar
    </button>
</mat-dialog-actions>